@font-face {
    font-family: "NorseFont";
    src: url('Norsebold.otf');
}

body {
    display: flex;
}

.image-container {
    position: relative;
    width: 50%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-contents {
    display: flex;
    gap: 50px;
    padding: 20px;
}

.background-img {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.logo-body {
    position: absolute;
    top: 250px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 140px;
    height: 160px;
}

.logo-text {
    font-family: 'NorseFont', sans-serif;
    font-size: 100px;
    color: white;
}

.footer-credit {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
}

.header-text {
    background-color: #F2F2F2;
}

.text-motivation {
    padding: 150px;
    padding-left: 50px;
    padding-bottom: 50px;
    font-size: 24px;
    font-weight: bold;
}

#doit {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

.first-column, .second-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input:user-valid {
    border-color: green;
}

input:user-invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
}

.account-section {
    background-color: #F2F2F2;
}

.create {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    border: none;
}

#account-text {
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 300px;
    font-size: 20px;
}

.log-in-txt {
    color: #596D48;;
}