@font-face {
    font-family: "NorseFont";
    src: url('Norsebold.otf');
}

body {
    display: flex;
}

.image-container {
    position: relative;
    width: 50%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-img {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.logo-body {
    position: absolute;
    top: 250px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 140px;
    height: 160px;
}

.logo-text {
    font-family: 'NorseFont', sans-serif;
    font-size: 100px;
    color: white;
}

.footer-credit {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
}

.header-text {
    background-color: #F2F2F2;
}

.text-motivation {
    padding: 150px;
    padding-left: 50px;
    padding-bottom: 50px;
    font-size: 24px;
    font-weight: bold;
}